* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
.wrap {
  height:50vw;
  border: solid 2px red;
  box-sizing: border-box;

  &>* {
    position: absolute;
  }
  >p{
    z-index:100;
    font-size:1.7vw;
  }
}
/* 太阳能连接管 */
.lianjiguan {
  width: 10vw;
  z-index:99;
  &:nth-child(1){
    left:10vw;
    top:15vw;
  }
  &:nth-child(2){
    top:15vw;
    left:20vw;
  }
  &:nth-child(3){
    left:10vw;
    top:35vw;
  }
  &:nth-child(4){
    top:35vw;
    left:20vw;
  }
}

/* 空气能加热泵 */
.rebeng9 {
  top: 30vw;
  right: 10vw;
  width: 10vw;
  z-index:99;
}
/* 所有风扇公共样式 */
.fengshan{
  border:solid 0.3vw;
  background-color:white;
  border-radius:50%;
  font-size:0;
  z-index:99;
  >*{
    width:3vw;
    animation:rotate 1s linear infinite paused;
  }
}
@keyframes rotate{
  0% {
    transform:rotateZ(0deg);
  }
  100%{
    transform:rotateZ(360deg);
  }
}
/*水泵蓝色*/
.fengshanBlue{
  .fengshan;
  >.fengshansiye12 {

  }
}
/* 水泵红色 */
.fengshanRed {
  top:30vw;
  .fengshan;
  >.fengshansiye2 {

  }
}
/* 水箱 */
.shuixiang {
  top: 20vw;
  right: 30vw;
  z-index:99;

  >.shuixiangkuang {
    width: 20vw;
    position: absolute;
    bottom: 0;
  }

  >.shuixiangdi {
    width: 20vw;

  }

  >.shuiweiWrap {
    position: absolute;
    width: 80%;
    left: 2%;
    right: 0;
    margin: auto;
    height: 78%;
    z-index: 99;
    bottom: 7%;
    border-radius: 0 0 7% 7%;
    overflow: hidden;

    >.shuiwei {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10%;
      background-color: skyblue;
    }
  }
  >.detail{
    position:absolute;
    top:30%;
    left:15%;
    font-size:2vw;
    z-index:100;
    color:black;
    
  }
  >.dianjiare{
    position:absolute;
    z-index:101;
    bottom:2.5vw;;
    left:3vw;;
    width:15vw;
  }
}