* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
.wrap {
  height: 100%;
  border: solid 2px red;
  box-sizing: border-box;
}
.wrap > * {
  position: absolute;
}
.lianjiguan {
  width: 20vw;
}
.rebengPipe:nth-child(1) {
  top: 40vw;
  left: 65vw;
}
.rebengPipe:nth-child(2) {
  top: 45vw;
  left: 65vw;
}
.rebeng9 {
  top: 30vw;
  right: 10vw;
  width: 8vw;
}
.fengshan {
  border: solid 0.3vw;
  border-radius: 50%;
  font-size: 0;
}
.fengshan > * {
  width: 5vw;
}
.fengshanBlue {
  top: 20vw;
  border: solid 0.3vw;
  border-radius: 50%;
  font-size: 0;
}
.fengshanBlue > * {
  width: 5vw;
}
.fengshanRed {
  top: 30vw;
  border: solid 0.3vw;
  border-radius: 50%;
  font-size: 0;
}
.fengshanRed > * {
  width: 5vw;
}
.shuixiang {
  top: 22vw;
  right: 35vw;
}
.shuixiang > .shuixiangkuang {
  width: 15vw;
  position: absolute;
  bottom: 0;
}
.shuixiang > .shuixiangdi {
  width: 15vw;
}
.shuixiang > .shuiweiWrap {
  position: absolute;
  width: 80%;
  left: 2%;
  right: 0;
  margin: auto;
  height: 78%;
  z-index: 99;
  bottom: 7%;
  border-radius: 0 0 7% 7%;
  overflow: hidden;
}
.shuixiang > .shuiweiWrap > .shuiwei {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: blue;
}
